<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
   <!--extra Bootstrap from w3 schoool-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <!-- Fontawesome Links icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    
   <!--Fontawesome link for text-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&display=swap" rel="stylesheet">


   <!-- static nebar link-->
   {%load static %}
   <link rel="stylesheet" href="{% static 'css/style.css'%}">
   <link rel="stylesheet" href="{% static 'css/base.css' %}">

   <!--Autocomplete link-->
   <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>

    <title>Hello, world!</title>

  </head>
  <body>

<!--body img-->
  <div class="bgimg">
<!--nav wrap and menu-, header body-->
  <div class="container">
            
      <div class="nav-wrap">
          <div class="logo">
             <h1><i class="fas fa-home"></i>HOME</h1>
             
          </div>
      <div class="menu">
         <ul>
          <li>
         <button type="submit" class="btn btn-danger btn-sm"> <a href="{% url 'signup' %}">Sign Up</a></button>
          </li>
          </ul>
      </div>
                
   </div>
  </div>

<section>
  <div class="container">
  <!--header-body-->
    <div class="header-body">
            
      <div class="header-contain">
            <h1 class="color1">Hom<span class="color">E</span></h1>
            <span class="after"></span>
      <form>
      <div class="row">
      <div class="col">
      <label for="code"><h3 class="text-white">Enter your userid Code</h3></label>
        <input type="text" class="form-control" placeholder="Enter userid code" name="code">
      </div>

     <!-- <div class="col">
      <label for="area"><h3 class="text-white">Enter area</h3></label>

        <input type="text" class="form-control" placeholder="Enter area" name="area">
      </div>-->
     
      </div>

     <button type="submit" class="btn btn-danger btn-lg mt-3">
     <a href="{% url 'rental' %}">Enter please</a>
     </button>
     </form>
  
     </div>
    </div>
  </div>
</section>  

</div>

<!--our features-->
<section>
<h1 class="feature">Our features</h1>
</section>


<!--part1-->
<div class="bgcolor">

<section >
<div class="container">

<div class="row ok">

    <div class="col-6 mt-2">
    <div class="card">

    <div class="card-body ok">
    <img src="{% static 'image/duplex.jpg' %}" width="520px" height="300px" class="rounded-circle">
    </div>

    </div>
    </div>

    <div class="col-6 mt-2">
    <div class="card border-3 border-secondary ">

    <div class="card-body ok1">
    <h3>Feel free to reach out with ANY questions Request Tour or Application Transportation Options 14 Summer St Bus Stop 0.2 mi (4 min away) Centre St @ Jackson St Bus Stop 0.1 mi (3 min away) Centre St @ Stop & Shop Bus Stop 0.1 mi (3 min away) Florence St @ Washington St Bus Stop 0.1 mi (3 min away) 
    Malden Station - Outbound Bus Stop 0.1 mi (4 min away) Nearby Places Dunkin' 
    Donuts Exhange Street<br>
    Feel free to reach out with ANY questions Request Tour or Application Transportation 
    </h3>
    </div>

    </div>
    </div>

 </div>

</div>
</section>

</div>

<!--part2-->
<section>
<div class="container">

<div class="row ok">

    <div class="col-6 mt-2">
    <div class="card border-3 border-secondary ">
    <div class="card-body ok1">
    <h3>Feel free to reach out with ANY questions Request Tour or Application Transportation Options 14 Summer St Bus Stop 0.2 mi (4 min away) Centre St @ Jackson St Bus Stop 0.1 mi (3 min away) Centre St @ Stop & Shop Bus Stop 0.1 mi (3 min away) Florence St @ Washington St Bus Stop 0.1 mi (3 min away) 
    
    Donuts Exhange Street<br>
    Feel free to reach out with ANY questions Request Tour or Application Transportation 
    </h3>

    </div>
    </div>
    </div>

    <div class="col-6 mt-2">
    <div class="card ">
    <div class="card-body ok">
    <img src="{% static 'image/flat.jpg' %}" width="520px" height="300px" class="rounded-circle">
    
    </div>
    </div>
    </div>

 </div>

</div>
</section>


<!--part3-->
<div class="bgcolor">
<section >
<div class="container">

<div class="row ok">

    <div class="col-6 mt-2">
    <div class="card">

    <div class="card-body ok">
    <img src="{% static 'image/family.jpg' %}" width="520px" height="300px" class="rounded-circle">
    </div>

    </div>
    </div>

    <div class="col-6 mt-2">
    <div class="card border-3 border-secondary ">

    <div class="card-body ok1">
    <h3>Feel free to reach out with ANY questions Request Tour or Application Transportation Options 14 Summer St Bus Stop 0.2 mi (4 min away) Centre St @ Jackson St Bus Stop 0.1 mi (3 min away) Centre St @ Stop & Shop Bus Stop 0.1 mi (3 min away) Florence St @ Washington St Bus Stop 0.1 mi (3 min away) 
    Malden Station - Outbound Bus Stop 0.1 mi (4 min away) Nearby Places Dunkin' 
    Donuts Exhange Street<br>
    Feel free to reach out with ANY questions Request Tour or Application Transportation 
    </h3>
    </div>

    </div>
    </div>

 </div>

</div>
</section>

</div>


<!--part4-->
<section>
<div class="container">

<div class="row ok">

    <div class="col-6 mt-2">
    <div class="card border-3 border-secondary ">
    <div class="card-body ok1">
    <h3>Feel free to reach out with ANY questions Request Tour or Application Transportation Options 14 Summer St Bus Stop 0.2 mi (4 min away) Centre St @ Jackson St Bus Stop 0.1 mi (3 min away) Centre St @ Stop & Shop Bus Stop 0.1 mi (3 min away) Florence St @ Washington St Bus Stop 0.1 mi (3 min away) 
    
    Donuts Exhange Street<br>
    Feel free to reach out with ANY questions Request Tour or Application Transportation 
    </h3>

    </div>
    </div>
    </div>

    <div class="col-6 mt-2">
    <div class="card ">
    <div class="card-body ok">
    <img src="{% static 'image/commercial.jpg' %}" width="520px" height="300px" class="rounded-circle">
    
    </div>
    </div>
    </div>

 </div>

</div>
</section>

<!--part5-->
<div class="bgcolor">
<section >
<div class="container">

<div class="row ok">

    <div class="col-6 mt-2">
    <div class="card">

    <div class="card-body ok">
    <img src="{% static 'image/office.jpg' %}" width="520px" height="300px" class="rounded-circle">
    </div>

    </div>
    </div>

    <div class="col-6 mt-2">
    <div class="card border-3 border-secondary ">

    <div class="card-body ok1">
    <h3>Feel free to reach out with ANY questions Request Tour or Application Transportation Options 14 Summer St Bus Stop 0.2 mi (4 min away) Centre St @ Jackson St Bus Stop 0.1 mi (3 min away) Centre St @ Stop & Shop Bus Stop 0.1 mi (3 min away) Florence St @ Washington St Bus Stop 0.1 mi (3 min away) 
    Malden Station - Outbound Bus Stop 0.1 mi (4 min away) Nearby Places Dunkin' 
    Donuts Exhange Street<br>
    Feel free to reach out with ANY questions Request Tour or Application Transportation 
    </h3>
    </div>

    </div>
    </div>

 </div>

</div>
</section>

</div>



<!--part6-->
<section>
<div class="container">

<div class="row ok">

    <div class="col-6 mt-2">
    <div class="card border-3 border-secondary ">
    <div class="card-body ok1">
    <h3>Feel free to reach out with ANY questions Request Tour or Application Transportation Options 14 Summer St Bus Stop 0.2 mi (4 min away) Centre St @ Jackson St Bus Stop 0.1 mi (3 min away) Centre St @ Stop & Shop Bus Stop 0.1 mi (3 min away) Florence St @ Washington St Bus Stop 0.1 mi (3 min away) 
    
    Donuts Exhange Street<br>
    Feel free to reach out with ANY questions Request Tour or Application Transportation 
    </h3>

    </div>
    </div>
    </div>

    <div class="col-6 mt-2">
    <div class="card ">
    <div class="card-body ok">
    <img src="{% static 'image/map.jpg' %}" width="520px" height="300px" class="rounded-circle">
    
    </div>
    </div>
    </div>

 </div>

</div>
</section>




   
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
    <!--Autocomplete javascript Link-->
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
  </body>
</html>